/* Reset CSS
 * --------------------------------------- */
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
 form,fieldset,input,textarea,p,blockquote,th,td {
     padding: 0;
     margin: 0;
 }
 a{
   text-decoration:none;
 }
 table {
     border-spacing: 0;
 }
 fieldset,img {
     border: 0;
 }
 address,caption,cite,code,dfn,em,strong,th,var {
     font-weight: normal;
     font-style: normal;
 }
 strong{
   font-weight: bold;
 }
 ol,ul {
     list-style: none;
     margin:0;
     padding:0;
 }
 caption,th {
     text-align: left;
 
 }
 h1,h2,h3,h4,h5,h6 {
     font-weight: normal;
     font-size: 100%;
     margin:0;
     padding:0;
     color:#444;
 }
 q:before,q:after {
     content:'';
 }
 abbr,acronym { border: 0;
 }
 
 /* Custom CSS
 * --------------------------------------- */
.fp-section {
  position: relative;
  text-align: center;
}

h1 {
  position: relative;
  top: 30%;
}

img {
  width: 12.5%;
}

.bottom-container .tree {
  width: 20%;
}

div.invisible {
  opacity: 0%
}

.flex-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* .flex-container img.left,
.middle-container img.left, */
img.left {
  float: right;
}

/* .flex-container img.right,
.middle-container img.right, */
img.right {
  float: left;
}

.middle-container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-container, .bottom-container {
  height: 40%;
  display: flex;
  justify-content: center;
}

.top-container {
  align-items: flex-end;
}

.bottom-container {
  align-items: flex-start;
}

.big-space {
  width: 15%;
}

img.left.distant {
  transform: translate(-5rem);
}

img.left.near {
  transform: translate(-2rem);
}

img.right.distant {
  transform: translate(5rem);
}

img.right.near {
  transform: translate(2rem);
}

.sliding {
  animation-name: slide-back-and-forth;
  animation-duration: 3s;
}

@keyframes slide-back-and-forth {
  /* swing back and forth */
  0% { transform:  translate(-6rem) rotate(-30deg) ; }
  10% { transform:  translate(6rem) rotate(30deg); }
  20% { transform:   translate(-6rem) rotate(-30deg); }
  30% { transform:  translate(2rem) rotate(20deg); }
  40% { transform:  translate(-0.5rem) rotate(-10deg); }
  50% { transform: translate(0rem) rotate(0deg); }

  /* shake it off */
  74% { transform: translate(0rem) rotate(-10deg);}
  75% { transform: rotate(20deg); }
  77% { transform: rotate(-30deg); }
  79% { transform: rotate(30deg); }
  81% { transform: rotate(-20deg); }
  83% { transform: rotate(20deg); }
  85% { transform: rotate(0deg); }
}

/* unused */
@keyframes swing {
 0% { 
    transform:  rotate(30deg) translate(-6rem) ;
  }
  25% { 
    transform: rotate(-30deg) translate(6rem);
  }
  50% {
    transform:  rotate(30deg) translate(-6rem) ;
  }
  75% {
    transform: rotate(-30deg) translate(6rem);
  }
  100% { transform: rotate(0deg) translate(0rem);
  }
} 

/* for testing on the first page */
/* h1 {
  animation: slide-back-and-forth;
  animation-duration: 3s;
} */